{#--------------------------------#}
{# templates/mapReportFaultForm1.html.twig #}
{#--------------------------------#}

{% extends "_layout.html.twig" %}

{#--------------------------------#}

{% block title %}Customer Care Map{% endblock %}

{#--------------------------------#}

{% block style %}
    <style>
        @import "css/bootstrap.min.css";
        @import "css/custom.css";
    </style>
{% endblock %}

{% block main %}
    <main>
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb">
                    <li><a href="./admin">Field Engineers</a> <span class="glyphicon glyphicon-circle-arrow-right"></span></li>
                    <li class="active">Select Region</li>
                </ol>

                <div class="row">
                    <div class="col-sm-12">
                        <form id="login" class="form-inline" action ="./adminRegionSelected" method="POST">
                            <div class="form-group">
                                <label for="teamRegion">Select a Team Region:</label>
                                <select id="teamRegion" name="teamRegion" class="form-control">
                                    <option value="ALL">Select Team Region</option>
                                    <option value="Dublin">Dublin</option>
                                    <option value="North Leinster">North Leinster</option>
                                    <option value="South Leinster">South Leinster</option>
                                    <option value="North West">North West</option>
                                    <option value="South West">South West</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary btn-sm" id="select" name="select">select</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </main>
{% endblock %}

{% block script %}
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="js/bootStrap/bootstrap.min.js"></script>
{% endblock %}