{#--------------------------------#}
{# templates/mapReportFaultForm1.html.twig #}
{#--------------------------------#}

{% extends "_layout.html.twig" %}

{#--------------------------------#}

{% block title %}Customer Care Map{% endblock %}

{#--------------------------------#}

{% block style %}
    <style>
        @import "css/bootstrap.min.css";
        @import "css/custom.css";
    </style>
{% endblock %}

{% block main %}
    <main>
        <div class="row">
            <div class="col-sm-8">
                <ol class="breadcrumb">
                    <li><a href="./admin">Field Engineers</a> <span class="glyphicon glyphicon-circle-arrow-right"></span></li>
                    <li class="active">Login</li>
                </ol>
                <h1>Field Engineer Login</h1>
                <div class="row">
                    <div class="col-sm-12">
                        <form id="loginForm" class="form-inline" action ="./adminAuthenticate"  method="POST">
                            <div class="form-group">
                                <label for="adminUserName">Username:</label>
                                <input type="text" class="form-control" id="adminUserName" name="adminUserName"  placeholder="AA" >
                            </div>
                            <div class="form-group">
                                <label for="adminPassword">Password:</label>
                                <input type="password" class="form-control" id="adminPassword" name="adminPassword" placeHolder="password1">
                            </div>
                            <button type="submit" class="btn btn-primary btn-sm" id="login" name="login">login</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">

                    <h4 class="bottomHeader">Default Login Credentials</h4>
                    <p>Username: AA<p>
                    <p>Password: password1<p>

            </div>
        </div>
    </main>
{% endblock %}

{% block script %}
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="js/bootStrap/bootstrap.min.js"></script>
{% endblock %}