{#--------------------------------#}
{# templates/mapReportFaultForm1.html.twig #}
{#--------------------------------#}

{% extends "_layout.html.twig" %}

{#--------------------------------#}

{% block title %}Customer Care Map{% endblock %}

{#--------------------------------#}

{% block style %}
    <style>
        @import "css/bootstrap.min.css";
        @import "css/custom.css";
    </style>
{% endblock %}

{% set dublin = 'Dublin' %}
{% set northLeinster = 'North Leinster' %}
{% set southLeinster = 'South Leinster' %}
{% set northWest = 'North West' %}
{% set southWest = 'South West' %}

{% block main %}
    <main>
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb">
                    <li><a href="./admin">Field Engineers</a> <span class="glyphicon glyphicon-circle-arrow-right"></span></li>
                    <li><a href="./adminSelectRegion">Select Region</a> <span class="glyphicon glyphicon-circle-arrow-right"></span></li>
                    <li class="active">Administer Sites</li>
                </ol>
                <div class="row" >
                    <div class="col-sm-6">
                        <h4>{{ totalRecords }} Mobile Sites displayed for Region:<span>{{ teamRegion }}</span>, County:<span class="detail">{{ selectCounty }}</span></h4>
                    </div>
                    <div class="col-sm-6">
                        <form method="GET" action="./adminSites" class="countyForm alignRight">
                            <select id="selectCounty" name="selectCounty" class="detail">
                                <option value="ALL">Select County from {{ teamRegion }}</option>
                            </select>
                            <input type="submit" id="refineSearch" name="refineSearch" value="Refine Search" class="btn btn-primary btn-xs">
                        </form>
                    </div>

                </div><!--end row-->
                <div class="row" id="paging">

                </div>
                <div id="adminSitesTableDiv"></div>

                {#</ul>#}
            </div>


        </div>
    </main>
{% endblock %}

{% block script %}
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="js/bootStrap/bootstrap.min.js"></script>
    <script src="js/mapScripts/displayNonMarkerData.js"></script>
    <script src="js/mapScripts/requestJSON.js"></script>
    <script src="js/mapScripts/adminSites.js"></script>
{% endblock %}