{#--------------------------------#}
{# templates/mapReportFaultForm1.html.twig #}
{#--------------------------------#}

{% extends "_layout.html.twig" %}

{#--------------------------------#}

{% block title %}Customer Care Map{% endblock %}

{#--------------------------------#}

{% block style %}
    <style>
        @import "css/bootstrap.min.css";
        @import "css/custom.css";
    </style>
{% endblock %}

{% block main %}
    <main>
        <div class="row">
            <div class="col-lg-8 col-md-9 col-sm-8">
                <ol class="breadcrumb">
                    <li><a href="./map">Customer Care Map</a> <span class="glyphicon glyphicon-circle-arrow-right"></span></li>
                    <li><a href="./map">Report a Fault</a> <span class="glyphicon glyphicon-circle-arrow-right"></span></li>
                    <li class="active">Register</li>
                </ol>
                <h1>Report a Service Fault</h1>
                <div class="row">
                    <div class="col-sm-12">
                        <div id="mapContainer">
                            <div id="message"></div>
                            <div id="googleMap">Map Loading...</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-3 col-sm-4">
                <div id="faultReportForm">
                    <h4 class="leftHeader" >Enter Email Address to Report Fault</h4>
                    <form id="reportFaultEmail"  action="./reportFaultEmailCheck" method="POST">
                        <div class="form-group">
                            <label for="faultReportEmail">Email Address:</label>
                            <input type="text" class="form-control" id="faultReportEmail" name="faultReportEmail" placeholder="joe.bloggs@example.com" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block" id="faultReportRegister" name="faultReportRegister">submit</button>
                    </form>
                </div>
                <div class="markerExplanation">
                    <h4 class="leftHeader" >Markers Explained</h4>
                    <div><strong>Site:</strong><br> <img src="img/onAir_icon_sm.png" alt="Fault Icon"> "On-Air"  <img src="img/offAir_icon_sm.png" alt="Site Off-Air Icon"> "Off-Air"</div>
                    <div><strong>Fault Report:</strong><br> <img src="img/fault_icon_sm.png" alt="Fault Icon"> "Open" <img src="img/closed_fault_icon_sm.png" alt="Closed Fault Icon"> "Closed"</div>
                </div>
                <div id="twitterFeed">
                    <h4 class="leftHeader" >Met Eireann Twitter Feed</h4>
                    <a class="twitter-timeline" href="https://twitter.com/MetEireann" data-widget-id="575303922505621504">Tweets by @MetEireann</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block script %}
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="js/bootStrap/bootstrap.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <script src="js/mapScripts/requestJSON.js"></script>
    <script src="js/mapScripts/setMarkers.js"></script>
    <script src="js/mapScripts/markerProperties.js"></script>
    <script src="js/mapScripts/displayMapAndMarker.js"></script>
    <script src="js/mapScripts/googleMap1.js"></script>
    <script src="js/mapScripts/loadMap_ReportFaultForm1.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeEoDIWMtJXdXULdRpOOhpooX2QCky-KA&callback=prepareMap"></script>
{% endblock %}