

<!-- row 1: navigation -->
<header class="row">
    <nav class="navbar navbar-default  navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="glyphicon glyphicon-arrow-down"></span>
                    MENU
                </button>
                <a class="navbar-brand" href="#"><img alt="Brand" src="img/logo-small.png"></a>
            </div>
            <div class="collapse navbar-collapse" id="collapse">
                <ul class="nav navbar-nav">
                    <li><a href="./">Home</a></li>
                    <li>
                        <a href="#" data-toggle="dropdown">Customer Care Map<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="./map">Report a Service Fault</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" data-toggle="dropdown">Field Engineers<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="./admin" >Login</a></li>
                            <li class="divider"></li>
                            <li><a href="./adminSelectRegion">Select Region</a></li>
                            <li><a href="./adminReportedFaults">Reported Faults</a></li>
                            <li><a href="./adminSites">Administer Sites</a></li>
                            <li class="divider"></li>
                            <li><a href="./adminLogout">Log Out</a></li>
                        </ul>
                    </li>
                </ul>
                {% if admin %}
                    {% if isLoggedIn %}
                        <p class="navbar-text navbar-right">Logged in as:<span class="navDetail">{{ adminUserName }}</span> - Selected Region:<span class="navDetail">{{ teamRegion }}</span></p>
                    {% else %}
                        {#<a href="./adminLogin">Login</a>#}
                    {% endif %}
                {% endif %}

            </div>
        </div>
    </nav>
</header>