{#--------------------------------#}
{# templates/index.html.twig #}
{#--------------------------------#}

{% extends "_layout.html.twig" %}
{#--------------------------------#}

{% block title %}2G3G4G Home{% endblock %}

{#--------------------------------#}


{% block style %}
    <style>
        @import "css/bootstrap.min.css";
        @import "css/custom.css";
    </style>
{% endblock %}

{% block main %}
<main>
    <div id="pagination_controls"></div>
    <div id="results_box">
        <div id="total_results">{{ totalRecords }}</div>
        <div id="total_results">{{ rpp }}</div>
        <div id="total_results">{{ last }}</div>
    </div>

    <script>request_page(1);</script>

</main>
{% endblock %}

{% block script %}
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="js/bootStrap/bootstrap.min.js"></script>
    <script>
    </script>
{% endblock %}